python-environ
#certifi==2023.7.22
#cffi==1.16.0
channels
channels-redis
daphne
Django~=4.2
djangorestframework
djangorestframework-simplejwt
Pillow
redis==5.0.1
selenium==4.13.0
#sqlparse==0.4.4
typing_extensions==4.8.0
#urllib3==2.0.6
gunicorn
psycopg2-binary
boto3
django-storages
python-dotenv
